<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="{{root}}styles/vendor.css"/>
    <link rel="stylesheet" href="{{root}}styles/fonts.css"/>
    <link rel="stylesheet" href="{{root}}styles/app.css"/>
    <link rel="stylesheet" href="{{root}}styles/highlight.css"/>
  </head>
  <body>
    {{> nav }}
    {{~> page}}
  </body>
</html>
